body{
    background-color: lightslategray;
}
img{
    height: 200px;
    width: 200px;
}

/*-------------------------------------------------------------------------------
Above is temporary styling so I can see the html I am working on as I write it */

