@import url("https://db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse");

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-container{
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: fill;
}

/*Left side of the web page starts here----------------------------*/

.img-container{
    background-image: url("starrySky.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    display: flex;
    justify-content: center;
}

.img-container a{
    color: white;
}

.img-footer{
    color: white;
    text-align: bottom;
    position: absolute;
    bottom: 0;
    font-size: smaller;
}

#logo-background{
    position: relative;
    top: 185px;
    height: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-background img{
    height: 100px;
    width: 75px;
}

#logo-background p{
    color: white;
    font-family: "Norse", sans-serif;
    font-weight: bold;
    font-size: 90px;
}

/*Right side of the page starts here--------------------------------*/

.user-container{
    background-color: rgb(129, 122, 122);
    margin: 0;
    height: 100vh;
    grid-column-start: 3;
    grid-column-end: 7; 

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#forms-container{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 350px 350px;
    grid-template-rows: repeat(300px, 3);
}

form div{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
