body{
    background-color: rgb(129, 122, 122);
}
img{
    height: 200px;
    width: 200px;
}

/*-------------------------------------------------------------------------------
Above is temporary styling so I can see the html I am working on as I write it */

.form-container{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
form{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 350px 350px;
    grid-template-rows: repeat(300px, 3);
}